@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("foundation.min.css");
.reveal .slides > section {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.stat-tab {
  display: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.stat-tab.active {
  display: block;
}

.navigate-up, .navigate-down {
  display: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

p {
  margin: 0px;
}

h1 {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #B3282D;
  margin: 0;
  font-weight: 600;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.2em;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  color: #B3282D;
}

h5 {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: normal;
  margin: 0px;
}

.row {
  max-width: 85%;
  margin: auto;
}

a {
  cursor: pointer;
}

button {
  padding: 10px 25px;
  background-color: white;
  border-radius: 0;
  display: block;
  cursor: pointer;
  transition: all .3s ease;
}

button a {
  color: black;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

button a span {
  margin-right: 10px;
}

button:hover a {
  color: white;
}

button:hover a span {
  color: white;
}

button.red span {
  color: #B3282D;
}

button.red:hover {
  background-color: #B3282D;
}

button.blue span {
  color: #00AEEF;
}

button.blue:hover {
  background-color: #00AEEF;
}

hr {
  width: 15%;
  border-color: #B3282D;
  margin-left: 0px;
}

.reveal .controls {
  display: none !important;
}

.home .row {
  padding-top: 150px;
}

.home h2 {
  color: #353535;
}

.home .inspire {
  color: #B3282D;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 10px;
  margin-left: -10px;
  transition: all .3s ease;
}

.home .inspire span {
  font-weight: 600;
}

.home .inspire:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.home button {
  margin-top: 30px;
}

.focus-areas .row {
  max-width: 100%;
  height: 100%;
}

.focus-areas .stat-tabs-wrapper {
  height: 100%;
}

.focus-areas .stat-tab-question {
  width: 40%;
  height: 100%;
  float: right;
  padding: 280px 50px;
  background-color: rgba(235, 227, 219, 0.9);
  background-image: url(../img/corner-icon.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 20%;
}

.focus-areas h1 {
  line-height: 2rem;
  margin-bottom: 15px;
}

.focus-areas button {
  display: block;
  margin: 10px 0px;
}

.focus-areas .label {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #5A5A5A;
}

.focus-areas .stat-tabs-nav {
  position: absolute;
  top: 180px;
  left: 60%;
  margin-left: 50px;
  z-index: 1000000;
}

.focus-areas .stat-tabs-nav div {
  display: inline-block;
  margin-right: 10px;
  width: 55px;
  height: 55px;
  background-color: #EBE3DB;
  border: 1px solid #353535;
  border-radius: 100px;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}

.focus-areas #energy {
  background-image: url(../img/icon-energy.png);
}

.focus-areas #food {
  background-image: url(../img/icon-food.png);
}

.focus-areas #water {
  background-image: url(../img/icon-water.png);
}

.focus-areas #city {
  background-image: url(../img/icon-city.png);
}

.focus-areas #employment {
  background-image: url(../img/icon-employment.png);
}

.focus-areas #conservation {
  background-image: url(../img/icon-conservation.png);
}

.focus-areas #finance {
  background-image: url(../img/icon-finance.png);
}

.focus-areas .stat-tab-facts {
  position: absolute;
  top: 40%;
  width: 60%;
}

.focus-areas .stat-tab-facts p {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 24px;
  font-family: "Georgia", serif;
  font-weight: normal;
}
