.reveal .slides > section {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

// BASE STYLING
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('foundation.min.css');
$red: #B3282D;
$blue: #00AEEF;
$dark-blue: #0A7096;
$beige: #EBE3DB;
$grey: #5A5A5A;
$dark-grey: #353535;
html {}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

p {
  margin: 0px;
}

h1 {
  font-size: 3.5rem;
  font-family: "Source Sans Pro", sans-serif;
  color: $red;
  margin: 0;
  font-weight: 600;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 1.3em;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  color: $red;
  margin: 0;
}

h5 {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: normal;
  margin: 0px;
}

.row {
  max-width: 85%;
  margin: auto;
}

a {
  cursor: pointer;
}

.btn {
  padding: .5em 1.3em;
  background-color: white;
  border-radius: 0;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  span {
    margin-right: 10px
  }
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    color: white;
    span {
      color: white;
    }
  }
}

.btn.red {
  span {
    color: $red;
  }
  &:hover {
    background-color: $red;
    span {color:white}
  }
}

.btn.blue {
  span {
    color: $blue;
  }
  &:hover {
    background-color: $blue;
    span {color:white}
  }
}

hr {
  width: 15%;
  border-color: $red;
  margin-left: 0px;
}

// Hide controls
.reveal .controls {
  display: none !important;
}

//Navigation
.nav {
  position: absolute;
  z-index: 50;
  width: 100%;
  .logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
    img {
      max-width: 60px;
    }
  }
  .menu {
    margin-top: 40px;
    display: inline-block;
    float: right;
    margin-right: 50px;
    .about,
    .faqs, .apply-now {
      display: inline-block;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: $dark-grey;
      text-decoration: none;
      margin-right: 30px;
      transition: color .3s ease;
      &:hover {
        color: $red;
      }
    }
    .apply-now {
      display: none;
    }
    .social {
      display: inline-block;
      margin-right: 30px;
      a {
        background-color: white;
        padding: 8px 10px;
        border-radius: 50px;
        color: $dark-grey;
        margin-right: 5px;
        .fa-facebook {
          padding: 0px 3px;
        }
        .fa-instagram {
          padding: 0px 2px;
        }
        transition: all .3s ease;
        &:hover {
          background-color: $dark-blue;
          color: white;
        }
      }
    }
    .btn {
      display: inline-block;
      background-color: $blue;
      color: white;
      font-weight: 600;
      &:hover {
        background-color: $dark-blue;
      }
    }
  }
}

//HOME SLIDE
.home {
  background-image: url(../img/pope.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    padding-top: 280px;
  }
  h2 {
    color: $dark-grey;
  }
  .inspire {
    color: $red;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    padding: .1em 1em;;
    margin-left: -1em;
    display: block;
    span {
      font-weight: 600;
    }
    transition: all .3s ease;
    &:hover {
      background-color: rgba(255, 255, 255, .6)
    }
  }
  .btn {
    margin-top: 20px;
  }
}

//FOCUS AREAS SLIDE
.focus-areas {
  .row {
    width: 100%;
    height: 100%;
  }
  .stat-tabs-wrapper {
    height: 100%;
  }
  .stat-tab-question {
    width: 40%;
    height: 100%;
    float: right;
    padding: 350px 50px 0 50px;
    background-color: rgba($beige, .95);
    background-image: url(../img/corner-icon.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 20%;
  }
  h1 {
    line-height: 3.5rem;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .btn {
    display: block;
    margin: 10px 0px;
  }
  .label {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $grey;
  }
  .stat-tabs-nav {
    position: absolute;
    top: 180px;
    left: 60%;
    margin-left: 50px;
    z-index: 1000000;
    .nav-row {
      div {
         display: inline-block;
            margin-right: 10px;
            width: 70px;
            height: 70px;
            background-color: rgba(255, 255, 255, .8);
            border-radius: 100px;
            background-size: 55%;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .3s ease;
            a {
              display: block;
              height: 100%;
              width: 100%;
            }
            &.active {
              background-color: white;
              border: 3px solid $red;
            }}
    }
  }
  // Icons
  #energy {
    background-image: url(../img/icon-energy.png);
  }
  #food {
    background-image: url(../img/icon-food.png);
  }
  #water {
    background-image: url(../img/icon-water.png);
  }
  #city {
    background-image: url(../img/icon-city.png);
  }
  #employment {
    background-image: url(../img/icon-employment.png);
  }
  #conservation {
    background-image: url(../img/icon-conservation.png);
  }
  #finance {
    background-image: url(../img/icon-finance.png);
  }
  .action {
    margin-top: 30px;
  }

  .stat-tab {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    &.active {
      display: block;
    }
  }

  .navigate-up,
  .navigate-down {
    display: none;
  }

  .stat-tab-facts {
    position: absolute;
    top: 40%;
    width: 60%;
    p {
      text-align: center;
      margin: auto;
      font-size: 2rem;
      font-family: "Georgia", serif;
      font-weight: normal;
      line-height: 1.3em;
      color: white;
      span {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.2rem;
        color: white;
        font-weight: 600;
      }
    }
  }
  #stat-tab-energy {
    background-image: url(../img/bg-energy.jpg);
  }
  #stat-tab-food {
    background-image: url(../img/bg-food.jpg)
  }
  #stat-tab-water {
    background-image: url(../img/bg-water.jpg)
  }
  #stat-tab-city {
    background-image: url(../img/bg-city.jpg)
  }
  #stat-tab-employment {
    background-image: url(../img/bg-employment.jpg);
  }
  #stat-tab-conservation {
    background-image: url(../img/bg-conservation.jpg);
  }
  #stat-tab-finance {
    background-image: url(../img/bg-finance.jpg);
  }
}

//MAP
.map {
  background-image: url(../img/bg-map.png);
  background-size: cover;
  background-repeat: no-repeat;
  .row {
    padding-top: 130px;
  }
  h5 {
    font-size: 1.4em;
    line-height: 1.5em;
  }
  .map-intro-mobile {
    display: none;
  }
  #journey-map {
    text {
      color: $dark-grey;
      font-weight: 600 !important;
      display: block;
    }
    width: 1024px;
    height: 500px;
    margin: -100px auto 0 auto;
    display: inline-block;
  }
  #journey-map-mobile {
    display: none;
  }
  .process-box {
    background-color: rgba(white, .7);
    padding: 2.5rem;
    div {
      display: none;
      &.active {
        display: block;
      }
    }
    p {
      span {
        font-weight: 600;
      }
    }
  }
  h4 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1rem;
  }
  p {
    font-size: 20px;
  }
  .btn {
    margin-top: 1rem;
  }
  h3 {
    margin-top: 20px;
  }
}

//NETWORK
.network {
  background-image: url(../img/bg-network.png);
  background-size: cover;
  background-repeat: no-repeat;
  .row {
    padding-top: 130px;
  }
  h5 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  h4 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1rem;
  }
  h6 {
    font-size: 1.7em;
    color: $red;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    line-height: 1em;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
  .network-box {
    background-color: rgba(white, .7);
    padding: 2.5rem;
    margin-top: 2rem;
  }
  .network-graphic {
    padding-top: 10rem;
    display: block;
    width: 90%;
    margin: auto;
  }
}

//APPLY
.apply {
  background-image: url(../img/bg-apply.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  .row {
    text-align: center;
    padding-top: 250px;
  }
  h2 {
    color: white;
    margin: 0 0 30px 0;
  }
  p {
    font-size: 1.5rem;
    span {
      color: white;
      font-size: 1.3rem;
    }
  }
  a {
    color: white;
    &:hover {
      color: $red;
    }
  }
  .btn {
    display:inline-block;
    margin: 40px auto 20px auto;
    padding: 10px 30px;
    color: $red;
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    &:hover {
      color: white;
      span {
        color: white;
      }
    }
  }
  hr {
    width: 40%;
    margin: 30px auto;
    border: 1px solid $grey;
  }
  h5 {
    color: white;
  }
  h4 {
    margin-top: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
  }
  #mc_embed_signup {
    margin-top: 20px;
    .mc-field-group {
      width: 50%;
    }
    .mc-field-group,
    .clear {
      display: inline-block;
      vertical-align: top;
    }
    input {
      width: 100%;
      display: inline-block;
      height: 50px;
      padding-left: 15px;
      border: none;
      outline: none;
      background-color: rgba(white, .75);
      font-family: "Source Sans Pro"
    }
    input.btn {
      background-color: white;
      margin-top: 0px !important;
      padding: 10px 25px;
      font-family: "Source Sans Pro";
      cursor: pointer;
      font-size: 1.2rem;
      color: black;
      &:hover {
        background-color: $dark-blue;
        color: white;
      }
    }
    div.mce_inline_error {
      background-color: transparent;
      color: black;
      text-align: left;
      font-family: "Source Sans Pro";
      font-weight: normal;
    }
  }
}

// ABOUT PAGE
#about {
  .about-canvas {
    .row {
      max-width: 100%;
    }
    background-image: url("../img/bg-about.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
  .close {
    float: right;
    margin-right: 60px;
    margin-top: 60px;
  }
  .content {
    width: 90%;
    margin: auto;
    color: white;
    .about {
      padding-right: 80px;
      p {
        font-size: 1.4rem;
        span {
          font-weight: 600;
        }
      }
    }
    .team {
      padding-left: 80px;
    }
    h4 {
      margin-top: 15px;
      color: black;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
    }
    ul {
      margin: 0px;
      padding-left: 18px;
    }
    li {
      margin-bottom: 5px;
      p {
        font-size: 1.4rem;
        &.title {
          color: black;
          font-size: 1.2rem;
          line-height: 1em;
        }
      }
      span {
        font-weight: 600;
      }
    }
  }
}

// FAQS PAGE
#faqs {
  .faqs-canvas {
    .row {
      max-width: 100%;
    }
    background-image: url("../img/bg-faqs.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    .close {
      float: right;
      margin-right: 60px;
      margin-top: 60px;
      svg {
        width: 50px;
        height: 50px;
      }
    }
    .content {
      width: 90%;
      margin: auto;
      p {
        font-size: 1.3rem;
        span {
          font-weight: 600;
        }
      }
      ol {
        padding-left: 18px;
      }
      li {
        margin-bottom: 20px;
      }
      .one {
        padding-right: 80px;
      }
      .two {
        padding-left: 80px;
      }
    }
  }
}

#journey-map-mobile {
  margin: 0 auto;
  display: none;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1367px) {
  html {
    font-size: 12px;
  }
  .home {
    .row {
      padding-top: 180px;
    }
    .btn {
      margin-top: 10px;
      font-size: 1.4rem;
    }
  }
  .focus-areas {
    .stat-tabs-nav {
      top: 10rem;
      .nav-row {
        div {
          width: 5rem;
        height: 5rem;}
      }
    }
    .stat-tab-question {padding-top: 22rem;}
    .stat-tab-facts {
      p {width: 80%;}
    }
  }
  .map {
    .row {
      padding-top: 100px;
    }
    h3 {
    margin-top: 1rem;
  }
  #journey-map {
    margin: -180px auto -80px auto;
  }
  }
  .apply {
    .row {
      padding-top: 15rem;
    }
  }
  #about {
    .about-canvas{
      .close {
        margin-right: 3rem;
        margin-top: 3rem;
        svg {
          width: 40px;
          height: 40px;
        }
      }
      .content {
        overflow: scroll;
        max-height: 650px;
        .one {
        padding-right: 1rem;
      }
      .two {
        padding-left: 1rem;
      }
      h4 {
        margin-top: 5px;
      }
    }
    }
    h2 {
      font-size: 2.5rem;
      margin: 2rem 0 1rem 0;
    }
  }
  #faqs {
    .faqs-canvas{
      .close {
        margin-right: 3rem;
        margin-top: 3rem;
        svg {
          width: 40px;
          height: 40px;
        }
      }
      .content {
        overflow: scroll;
        max-height: 650px;
        .one {
        padding-right: 1rem;
      }
      .two {
        padding-left: 1rem;
      }
    }
    }
    h2 {
      font-size: 2.5rem;
      margin: 2rem 0 1rem 0;
    }
  }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .nav {
    .logo {
      margin-left: 20px;
      margin-top: 20px;
      img {
        max-width:40px;
      }
    }
    .menu {
      margin-right: 20px;
      margin-top: 20px;
    }
    .btn {
      font-size: 1.1rem;
    }
  }
  .home {
    .row {
      padding-top: 10rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    .inspire {
      font-size: 1.4rem;
    }
  }
  .focus-areas {
    .stat-tabs-nav {
      top: 8rem;
    }
    h5 {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
    .stat-tab-question {
      padding-top: 18rem;
    }
  }
  .map {

  }
  .network {
    .row {
      padding-top: 5rem;
    }
    h3 {
      font-size: 2rem;
    }
    h5 {
      font-size:1.2rem;}
      h6 {font-size: 1.4rem};

      p {font-size: 1.2rem}
    }
    .apply {
      .row {
        padding-top: 7rem;
      }
      h2 {
        font-size: 2.5rem;
        margin-bottom: .5em;
      }
      .btn {
        font-size: 1.4rem;
        margin: 2rem auto 1rem auto;
      }
      hr {
        margin: 1.5rem auto;
      }
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

  // Journey Map SVG Mobile
  .map #journey-map {
    display: none;
  }
  .map #journey-map-mobile {
    display: block !important;
    width: 300px;
    height: 400px;
  }
  .map h5 {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
.nav {
  .logo {
    margin-top: 20px;
    margin-left: 20px;
    img {
      max-width: 50px;
    }
  }
  .menu {
    margin-top: 20px;
    margin-right: 10px;
    .apply-now {
      display: inline-block;
    }
    .about, .faqs,.apply-now {
      margin-right: 1rem;
      font-size: 1.4rem;
    }
    .social {
      float: right;
      margin-left: 10px;
      margin-top: 3px;
      a {
        background-color: transparent;
        padding: 0px;
        margin-right: 5px;
        &:hover {
          background-color: transparent;
          color: $red;
        }
      }
    }
  }
  .btn {
    display: none !important;
  }
 }
 .home {
   background-position: 70%;
   .row {
     padding-top: 20rem;
   }
   h2 {
     font-size: 2.5rem;
     padding-right: 2.5rem;
   }
   .inspire {
     font-size: 1.8rem;
     line-height: 1.3em;
     margin-bottom: 1rem;
   }
 }
 .focus-areas {
   .stat-tab-facts {
     display: none;
   }
   .stat-tab-question {
     width: 100%;
     padding: 20rem 3rem 0 3rem;
     background-color: rgba(235, 227, 219, 0.85)
   }
   .stat-tabs-nav {
     left: 3rem;
     margin-left: 0px;
   }
 }
 .map {
   .row {
     padding-top: 6rem;
   }
   #journey-map {
     display: none;
   }
   .map-intro {
     display: none;
   }
   .map-intro-mobile {
     display: block;
   }
 }
 .network {
   .network-box {
     padding: 1.5rem;
     p {margin-bottom: 1rem;}
   }
 }
 .apply {
   .row {
     padding-top: 6rem;
   }
   h2 {
     font-size: 2rem;
     line-height: 1.2em;
   }
   p {
     font-size: 1.3rem;
     line-height: 1.2em;
   }
   h4 {
     line-height: 1.2em;
   }
 }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  .nav {
    .logo {
      margin-top: 10px;
      margin-left: 10px;
      img {
        max-width: 30px;
      }
    }
 }
}
