// BASE STYLING
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('foundation.min.css');
$red: #B3282D;
$blue: #00AEEF;
$dark-blue: #0A7096;
$beige: #EBE3DB;
$grey: #5A5A5A;
$dark-grey: #353535;
html {
  font-size: 14px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

p {
  margin: 0px;
}

section {
  display:block;
  clear:both;
  width:100%;
  float:left;
  position: relative;
}

h1 {
  font-size: 3rem;
  font-family: "Georgia", serif;
  margin: 0;
  font-weight: normal;
  line-height: 1.3em;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0;
}

h3 {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.2em;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.2em;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.3em;
  span {
    font-weight: 600;
  }
}

span {
  font-weight: 600;
}

.direction-desktop,
.direction-mobile {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0 0 0;
  color: $dark-grey;
}

.direction-mobile {
  display: none
}

.row {
  max-width: 95%;
  margin: auto;
}

a {
  cursor: pointer;
}

.btn {
  padding: .5em 1.3em;
  background-color: white;
  border-radius: 0;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  span {
    margin-right: 10px
  }
  transition: all .3s ease;
  &:hover {
    color: white;
    span {
      color: white;
    }
  }
}

.btn.red {
  span {
    color: $red;
  }
  &:hover {
    background-color: $red;
    span {
      color: white
    }
  }
}

.btn.blue {
  span {
    color: $blue;
  }
  &:hover {
    background-color: $blue;
    span {
      color: white
    }
  }
}

hr {
  width: 15%;
  border-color: $red;
  margin-left: 0px;
}

// Hide controls
.reveal .controls {
  display: none !important;
}

//Navigation
.nav {
  position: absolute;
  z-index: 50;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  .logo {
    display: inline-block;
    img {
      max-width: 60px;
    }
  }
  .menu {
    display: inline-block;
    float: right;
    .about,
    .faqs,
    .apply-now,
    .home-nav {
      display: inline-block;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: $dark-grey;
      text-decoration: none;
      margin-right: 30px;
      transition: color .3s ease;
      &:hover {
        color: $red;
      }
    }
    .apply-now {
      display: none;
    }
    .social {
      display: inline-block;
      a {
        background-color: white;
        padding: 8px 10px;
        border-radius: 50px;
        color: $dark-grey;
        margin-right: 5px;
        display: inline-block;
        .fa-facebook {
          padding: 0px 3px;
        }
        .fa-instagram {
          padding: 0px 2px;
        }
        transition: all .3s ease;
        &:hover {
          background-color: $dark-blue;
          color: white;
        }
      }
    }
    .btn {
      display: inline-block;
      background-color: $blue;
      color: white;
      font-weight: 600;
      margin-left: 2rem;
      &:hover {
        background-color: $dark-blue;
      }
    }
  }
}

//HOME SLIDE
.home {
  height: 800px;
  background-image: url(../img/pope.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    padding-top: 20%;
  }
  h2 {
    color: $dark-grey;
  }
  .inspire {
    color: $red;
  }
  .btn {
    margin-top: 20px;
  }
  .direction {
    margin-top: 2rem;
  }
}

//FOCUS AREAS SLIDE
.focus-areas {
  background-color: $beige;
  height:800px;
  h1 {
    color: $red;
  }
  .stat-tabs-wrapper {
    width: 100%;
    float: left;
    overflow: hidden;
    display: block;
  }
  .stat-tab-question {
    width: 40%;
    float: right;
    padding: 23rem 3rem 0 3rem;
    background-color: rgba($beige, .85);
    background-image: url(../img/corner-icon.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 20%;
    min-height: 800px;
  }
  .label {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $grey;
    span {
      color: $red
    }
  }
  .btn {
    display: inline-block;
    margin: 2rem 0px 1rem 0;
  }
  .stat-tabs-nav {
    position: absolute;
    top: 16%;
    left: 60%;
    margin-left: 50px;
    z-index: 1000000;
    .nav-row {
      div {
        display: inline-block;
        margin-right: 10px;
        width: 4rem;
        height: 4rem;
        background-color: rgba(255, 255, 255, .8);
        border-radius: 100px;
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all .3s ease;
        a {
          display: block;
          height: 100%;
          width: 100%;
        }
        &.active {
          background-color: white;
          border: 3px solid $red;
        }
      }
    }
  }
  // Icons
  #energy {
    background-image: url(../img/icon-energy.png);
  }
  #food {
    background-image: url(../img/icon-food.png);
  }
  #water {
    background-image: url(../img/icon-water.png);
  }
  #city {
    background-image: url(../img/icon-city.png);
  }
  #employment {
    background-image: url(../img/icon-employment.png);
  }
  #conservation {
    background-image: url(../img/icon-conservation.png);
  }
  #finance {
    background-image: url(../img/icon-finance.png);
  }
  .stat-tab {
    display: block;
    position: absolute;
    top:-9999px;
    left:-9999px;
    opacity: 0;
    width: 100%;
    height: 100%;
    min-height:800px;
    overflow: hidden;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: opacity 1.8s ease-in-out;
    &.active {
      transition: opacity 1.8s ease-in-out;
    transition: opacity 1s ease-in-out;
      position: static;
      opacity: 1;
    }
  }
  .navigate-up,
  .navigate-down {
    display: none;
  }
  .stat-tab-facts {
    position: absolute;
    top: 40%;
    width: 60%;
    p {
      text-align: center;
      margin: auto;
      font-size: 2rem;
      font-family: "Georgia", serif;
      font-weight: normal;
      line-height: 1.3em;
      color: white;
      span {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.2rem;
        color: white;
        font-weight: 600;
      }
    }
  }
  #stat-tab-energy {
    background-image: url(../img/bg-energy.jpg);
  }
  #stat-tab-food {
    background-image: url(../img/bg-food.jpg)
  }
  #stat-tab-water {
    background-image: url(../img/bg-water.jpg)
  }
  #stat-tab-city {
    background-image: url(../img/bg-city.jpg)
  }
  #stat-tab-employment {
    background-image: url(../img/bg-employment.jpg);
  }
  #stat-tab-conservation {
    background-image: url(../img/bg-conservation.jpg);
  }
  #stat-tab-finance {
    background-image: url(../img/bg-finance.jpg);
  }
}

//MAP
.map {
  background-image: url(../img/bg-map.png);
  background-size: cover;
  background-repeat: no-repeat;
  height:800px;
  .row {
    padding-top: 8rem;
  }
  .map-intro-mobile {
    display: none;
  }
  h5 {
    font-weight: 600;
    color: $red
  }
  #journey-map {
    text {
      color: $dark-grey;
      font-weight: 600 !important;
      display: block;
      font-size: 1.3rem !important;
    }
    width: 1024px;
    height: 500px;
    margin: -130px auto 0 auto;
    display: inline-block;
  }
  #journey-map-mobile {
    display: none;
  }
  .process-box {
    background-color: rgba(white, .7);
    padding: 2rem;
    div {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .btn {
    margin-top: 1rem;
  }
}

//NETWORK
.network {
  background-image: url(../img/bg-network.png);
  background-size: cover;
  background-repeat: no-repeat;
  height:800px;
  .row {
    padding-top: 3rem;
  }
  h5 {
    font-weight: 600;
    color: $red;
  }
  hr {
    border: 0px;
    margin: 2rem 0;
  }
  h3 {
    margin-top: 1rem;
  }
  .btn {
    margin-top: 20px;
  }
  .network-box {
    background-color: rgba(white, .7);
    padding: 2rem;
    margin-top: 1.5rem;
  }
  .network-graphic {
    padding-top: 5rem;
    display: block;
    width: 90%;
    margin: auto;
  }
}

//APPLY
.apply {
  background-image: url(../img/bg-apply.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height:800px;
  .row {
    text-align: center;
    padding-top: 10rem;
  }
  h1 {
    color: white;
    margin: .3em 0;
  }
  .quote {
    font-family: "Georgia", serif;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    font-style: italic;
  }
  .btn {
    display: inline-block;
    margin: 1rem;
    padding: .7rem 2rem;
    color: $red;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    &:hover {
      color: white;
      span {
        color: white;
      }
    }
  }
  hr {
    width: 5%;
    margin: 1rem auto;
    border-bottom: 1px solid $red;
  }
  h3 {
    font-size: 1.5rem;
  }
  .subscribe-box {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, .3)
  }
  #mc_embed_signup {
    margin-top: 20px;
    .mc-field-group {
      width: 50%;
    }
    .mc-field-group,
    .clear {
      display: inline-block;
      vertical-align: top;
    }
    input {
      width: 100%;
      display: inline-block;
      height: 40px;
      padding-left: 15px;
      border: none;
      outline: none;
      background-color: rgba(white, .6);
      font-family: "Source Sans Pro"
    }
    input.btn {
      background-color: white;
      margin-top: 0px !important;
      padding: 10px 25px;
      font-family: "Source Sans Pro";
      cursor: pointer;
      font-size: 1.2rem;
      color: black;
      &:hover {
        background-color: $dark-blue;
        color: white;
      }
    }
    div.mce_inline_error {
      background-color: transparent;
      color: black;
      text-align: left;
      font-family: "Source Sans Pro";
      font-weight: normal;
    }
  }
}

// ABOUT PAGE
#about-body {
  background-image: url("../img/bg-about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#about {
  hr {
    display: none;
  }
  .about-canvas {
    .row {
      max-width: 100%;
      padding: 8rem 2rem;
    }
  }
  .close {
    float: right;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  .content {
    width: 90%;
    margin: auto;
    color: white;
    .about {
      padding-right: 80px;
    }
    .team {
      padding-left: 80px;
    }
    h5 {
      font-size: 1.1rem;
      font-weight: 600;
      color: black;
      margin-top: .5rem;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
    }
    ul {
      margin: 0px;
      list-style-type: none;
      padding-left: 0px;
    }
    li {
      margin-bottom: 5px;
      p {
        &.title {
          color: black;
          line-height: 1em;
        }
      }
      span {
        font-weight: 600;
      }
    }
  }
  .content.row {
    padding: 0;
  }
}

// FAQS PAGE
#faqs-body {
  background-image: url("../img/bg-faqs.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#faqs {
  .faqs-canvas {
    .row {
      max-width: 100%;
      padding: 8rem 4em;
    }
    background-image: url("../img/bg-faqs.png");
    background-size: cover;
    background-position: center;
    .close {
      float: right;
      svg {
        width: 40px;
        height: 40px;
      }
    }
    .content {
      ol {
        padding-left: 18px;
      }
      li {
        margin-bottom: 20px;
      }
      .one {
        padding-right: 80px;
      }
      .two {
        padding-left: 80px;
      }
    }
    .content.row {
      padding: 0;
    }
  }
}

#journey-map-mobile {
  margin: 0 auto;
  display: none;
  width: 100%;
  height: 175px;
}

.footer {
  text-align: center;
}

.made-by {a {text-decoration:none; color:$red; &:hover {color: white}}}

//RESPONSIVENESS
@media (max-width: 599px) {
  .direction-mobile {
    display: block;
  }
  .direction-desktop {
    display: none;
  }
  html {
    font-size: 12px;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    line-height: 1.2em;
  }
  .nav {
    padding-top: 1rem;
    .logo img {
      max-width: 40px;
      max-height: 40px;
    }
    .menu {
      padding-top: 1rem;
      .btn {
        display: none;
      }
      .apply-now {
        display: inline-block;
        color: $red;
        font-weight: 600;
      }
      .apply-now,
      .about,
      .faqs {
        font-size: 1rem;
        margin-right: .8rem;
      }
      .social {
        a {
          background-color: transparent;
          padding: 0 0 .7rem 0;
          &:hover {
            color: $red;
            background-color: transparent;
          }
        }
        margin-right: 0px;
      }
    }
  }
  .home {
    background-position: 80%;
    height: auto;
    padding: 22rem 0 10rem;
    .row {
      padding-top: 0;
    }
  }
  .focus-areas {
    height: 650px;
    h1 {
      font-size: 2.4rem;
    }
    .stat-tab-question {
      width: 100%;
      padding: 20rem 3rem 0 3rem;
    }
    .stat-tab-facts {
      display: none;
    }
    .stat-tabs-nav {
      left: 0;
      margin-left: 3rem;
    }
  }
  .map {
    height:auto;
    background-size: contain;
    background-position: top;
    background-color: $beige;
    .row {
      padding-top: 6rem;
      max-width: 95%;
    }
    h3 {
      margin-bottom: 1rem;
    }
    #journey-map {
      display: none;
    }
    #journey-map-mobile {
      display: block;
      margin-bottom: 2rem;
      text {
        font-size: 1rem !important;
        font-weight: 600 !important;
      }
    }
  }
  .network {
    height:auto;
    .row {
      padding-top: 6rem;
      max-width: 95%;
    }
    h3 {
      margin-top: 1rem;
    }
    h5 {
      font-size: 1.3rem;
    }
    .network-box {
      padding: 1rem;
    }
    .network-graphic{
      padding: 0;
      margin: 3rem 0;
      width: 100%;
    }
  }
  .apply {
    height: auto;
    padding: 5rem 0;
    .row {
      padding-top: 5rem;
    }
    .quote {
      display: none;
    }
    h5 {
      font-weight: 600;
      font-size: 1.1rem;
    }
    .subscribe-box {
      width: 95%;
      padding: 1rem;
      h5 {
        font-size: 1.1rem;
      }
    }
    .to-faq,
    .app-deadline {
      display: block;
    }
    .divider {
      display: none;
    }
    #mc_embed_signup {
      margin-top: 10px;
      .mc-field-group {
        width: 100%;
      }
      .clear {
        width: 100%;
        display: block;
        margin-top: .5rem;
        input {
          text-align: left;
          margin: 0;
          padding: 0 0 0 15px;
        }
      }
    }
  }
  #about {
    hr {
      display: block;
      border-bottom: 1px solid white;
      border-top: 0px;
      width: 100%;
      margin: 2rem 0;
    }
    h1 {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
    .about-canvas {
      .row {
        padding: 0;
      }
      .close {
        margin-top: 15px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .content {
        padding: 0px;
        .about,
        .team {
          padding: 0px;
        }
      }
    }
  }
  #faqs {
    h1 {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
    .faqs-canvas {
      .row {
        padding: 0;
      }
      .close {
        margin-top: 15px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .content {
        padding: 0px;
        .one,
        .two {
          padding: 0px;
        }
        ol {
          padding-left: 30px;
        }
      }
    }
  }
}

@media (min-width:321px) and (max-width: 599px) {
  html {
    font-size: 14px;
  }
  .home {
    h1 {
      font-size: 1.7rem;
    }
  }
  .map {
    h2 {
      margin-bottom: 1rem;
    }
    .process-box {
      margin-top: 1rem;
    }
  }
  .network {
    .network-box {
      padding: 1rem;
    }
  }
  #about .about-canvas,
  #faqs .faqs-canvas {
    .content {
      margin-top: 5rem;
    }
  }
}

/* Extra Small Devices, Phones */
 @media only screen and (max-width : 480px) {
  .nav .menu .apply-now, .nav .menu .about, .nav .menu .faqs {
    margin-right:.5rem;
    font-size:.8rem;
  }
  #about .about-canvas,
  #faqs .faqs-canvas {
    .content {
      margin-top: 5rem;
    }
  }
 }
