@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("foundation.min.css");
/* line 1, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.reveal .slides > section {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0; }

/* line 17, /Users/AnhLe/Desktop/Vatican/css/style.scss */
html {
  font-size: 14px; }

/* line 21, /Users/AnhLe/Desktop/Vatican/css/style.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 400; }

/* line 27, /Users/AnhLe/Desktop/Vatican/css/style.scss */
p {
  margin: 0px; }

/* line 31, /Users/AnhLe/Desktop/Vatican/css/style.scss */
h1 {
  font-size: 3rem;
  font-family: "Georgia", serif;
  margin: 0;
  font-weight: normal;
  line-height: 1.3em; }

/* line 39, /Users/AnhLe/Desktop/Vatican/css/style.scss */
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0; }

/* line 47, /Users/AnhLe/Desktop/Vatican/css/style.scss */
h3 {
  font-family: "Georgia", serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.2em; }

/* line 55, /Users/AnhLe/Desktop/Vatican/css/style.scss */
h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.2em; }

/* line 63, /Users/AnhLe/Desktop/Vatican/css/style.scss */
h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.3em; }
  /* line 69, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  h5 span {
    font-weight: 600; }

/* line 74, /Users/AnhLe/Desktop/Vatican/css/style.scss */
span {
  font-weight: 600; }

/* line 78, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.direction-desktop,
.direction-mobile {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0 0 0;
  color: #353535; }

/* line 87, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.direction-mobile {
  display: none; }

/* line 91, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.row {
  max-width: 95%;
  margin: auto; }

/* line 96, /Users/AnhLe/Desktop/Vatican/css/style.scss */
a {
  cursor: pointer; }

/* line 100, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.btn {
  padding: .5em 1.3em;
  background-color: white;
  border-radius: 0;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  transition: all .3s ease; }
  /* line 109, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .btn span {
    margin-right: 10px; }
  /* line 113, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .btn:hover {
    color: white; }
    /* line 115, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .btn:hover span {
      color: white; }

/* line 122, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.btn.red span {
  color: #B3282D; }

/* line 125, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.btn.red:hover {
  background-color: #B3282D; }
  /* line 127, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .btn.red:hover span {
    color: white; }

/* line 134, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.btn.blue span {
  color: #00AEEF; }

/* line 137, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.btn.blue:hover {
  background-color: #00AEEF; }
  /* line 139, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .btn.blue:hover span {
    color: white; }

/* line 145, /Users/AnhLe/Desktop/Vatican/css/style.scss */
hr {
  width: 15%;
  border-color: #B3282D;
  margin-left: 0px; }

/* line 152, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.reveal .controls {
  display: none !important; }

/* line 157, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.nav {
  position: absolute;
  z-index: 50;
  width: 100%;
  padding: 2rem 2rem 0 2rem; }
  /* line 162, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .nav .logo {
    display: inline-block; }
    /* line 164, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .nav .logo img {
      max-width: 60px; }
  /* line 168, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .nav .menu {
    display: inline-block;
    float: right; }
    /* line 171, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .nav .menu .about,
    .nav .menu .faqs,
    .nav .menu .apply-now {
      display: inline-block;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: #353535;
      text-decoration: none;
      margin-right: 30px;
      transition: color .3s ease; }
      /* line 182, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .nav .menu .about:hover,
      .nav .menu .faqs:hover,
      .nav .menu .apply-now:hover {
        color: #B3282D; }
    /* line 186, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .nav .menu .apply-now {
      display: none; }
    /* line 189, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .nav .menu .social {
      display: inline-block; }
      /* line 191, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .nav .menu .social a {
        background-color: white;
        padding: 8px 10px;
        border-radius: 50px;
        color: #353535;
        margin-right: 5px;
        display: inline-block;
        transition: all .3s ease; }
        /* line 198, /Users/AnhLe/Desktop/Vatican/css/style.scss */
        .nav .menu .social a .fa-facebook {
          padding: 0px 3px; }
        /* line 201, /Users/AnhLe/Desktop/Vatican/css/style.scss */
        .nav .menu .social a .fa-instagram {
          padding: 0px 2px; }
        /* line 205, /Users/AnhLe/Desktop/Vatican/css/style.scss */
        .nav .menu .social a:hover {
          background-color: #0A7096;
          color: white; }
    /* line 211, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .nav .menu .btn {
      display: inline-block;
      background-color: #00AEEF;
      color: white;
      font-weight: 600;
      margin-left: 2rem; }
      /* line 217, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .nav .menu .btn:hover {
        background-color: #0A7096; }

/* line 225, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.home {
  background-image: url(../img/pope.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 229, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .home .row {
    padding-top: 15%; }
  /* line 232, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .home h2 {
    color: #353535; }
  /* line 235, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .home .inspire {
    color: #B3282D; }
  /* line 238, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .home .btn {
    margin-top: 20px; }
  /* line 241, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .home .direction {
    margin-top: 2rem; }

/* line 248, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas h1 {
  color: #B3282D; }

/* line 251, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .stat-tabs-wrapper {
  height: 100%; }

/* line 254, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .stat-tab-question {
  width: 40%;
  height: 100%;
  float: right;
  padding: 22rem 3rem 0 3rem;
  background-color: rgba(235, 227, 219, 0.8);
  background-image: url(../img/corner-icon.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 20%; }

/* line 265, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .label {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #5A5A5A; }
  /* line 271, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas .label span {
    color: #B3282D; }

/* line 275, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .btn {
  display: inline-block;
  margin: 2rem 0px 1rem 0; }

/* line 279, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .stat-tabs-nav {
  position: absolute;
  top: 16%;
  left: 60%;
  margin-left: 50px;
  z-index: 1000000; }
  /* line 286, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas .stat-tabs-nav .nav-row div {
    display: inline-block;
    margin-right: 10px;
    width: 4rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease; }
    /* line 297, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .focus-areas .stat-tabs-nav .nav-row div a {
      display: block;
      height: 100%;
      width: 100%; }
    /* line 302, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .focus-areas .stat-tabs-nav .nav-row div.active {
      background-color: white;
      border: 3px solid #B3282D; }

/* line 310, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #energy {
  background-image: url(../img/icon-energy.png); }

/* line 313, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #food {
  background-image: url(../img/icon-food.png); }

/* line 316, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #water {
  background-image: url(../img/icon-water.png); }

/* line 319, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #city {
  background-image: url(../img/icon-city.png); }

/* line 322, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #employment {
  background-image: url(../img/icon-employment.png); }

/* line 325, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #conservation {
  background-image: url(../img/icon-conservation.png); }

/* line 328, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #finance {
  background-image: url(../img/icon-finance.png); }

/* line 331, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .stat-tab {
  display: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  /* line 337, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas .stat-tab.active {
    display: block; }

/* line 341, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .navigate-up,
.focus-areas .navigate-down {
  display: none; }

/* line 345, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas .stat-tab-facts {
  position: absolute;
  top: 40%;
  width: 60%; }
  /* line 349, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas .stat-tab-facts p {
    text-align: center;
    margin: auto;
    font-size: 2rem;
    font-family: "Georgia", serif;
    font-weight: normal;
    line-height: 1.3em;
    color: white; }
    /* line 357, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .focus-areas .stat-tab-facts p span {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.2rem;
      color: white;
      font-weight: 600; }

/* line 365, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #stat-tab-energy {
  background-image: url(../img/bg-energy.jpg); }

/* line 368, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #stat-tab-food {
  background-image: url(../img/bg-food.jpg); }

/* line 371, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #stat-tab-water {
  background-image: url(../img/bg-water.jpg); }

/* line 374, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #stat-tab-city {
  background-image: url(../img/bg-city.jpg); }

/* line 377, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #stat-tab-employment {
  background-image: url(../img/bg-employment.jpg); }

/* line 380, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #stat-tab-conservation {
  background-image: url(../img/bg-conservation.jpg); }

/* line 383, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.focus-areas #stat-tab-finance {
  background-image: url(../img/bg-finance.jpg); }

/* line 389, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.map {
  background-image: url(../img/bg-map.png);
  background-size: cover;
  background-repeat: no-repeat; }
  /* line 393, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map .row {
    padding-top: 8rem; }
  /* line 396, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map .map-intro-mobile {
    display: none; }
  /* line 399, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map h5 {
    font-weight: 600;
    color: #B3282D; }
  /* line 403, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map #journey-map {
    width: 1024px;
    height: 500px;
    margin: -130px auto 0 auto;
    display: inline-block; }
    /* line 404, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .map #journey-map text {
      color: #353535;
      font-weight: 600 !important;
      display: block;
      font-size: 1.3rem !important; }
  /* line 415, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map #journey-map-mobile {
    display: none; }
  /* line 418, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map .process-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.2rem; }
    /* line 421, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .map .process-box div {
      display: none; }
      /* line 423, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .map .process-box div.active {
        display: block; }
  /* line 428, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map .btn {
    margin-top: 1rem; }

/* line 434, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.network {
  background-image: url(../img/bg-network.png);
  background-size: cover;
  background-repeat: no-repeat; }
  /* line 438, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network .row {
    padding-top: 8rem; }
  /* line 441, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network h5 {
    font-weight: 600;
    color: #B3282D; }
  /* line 445, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network hr {
    border: 0px; }
  /* line 448, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network .btn {
    margin-top: 20px; }
  /* line 451, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network .network-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.5rem;
    margin-top: 1.5rem; }
  /* line 456, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network .network-graphic {
    padding-top: 10rem;
    display: block;
    width: 90%;
    margin: auto; }

/* line 465, /Users/AnhLe/Desktop/Vatican/css/style.scss */
.apply {
  background-image: url(../img/bg-apply.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  /* line 470, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .row {
    text-align: center;
    padding-top: 10rem; }
  /* line 474, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply h1 {
    color: white;
    margin: .3em 0; }
  /* line 478, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .quote {
    font-family: "Georgia", serif;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    font-style: italic; }
  /* line 485, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .btn {
    display: inline-block;
    margin: 1rem;
    padding: .7rem 2rem;
    color: #B3282D;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase; }
    /* line 493, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply .btn:hover {
      color: white; }
      /* line 495, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .apply .btn:hover span {
        color: white; }
  /* line 500, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply hr {
    width: 5%;
    margin: 1rem auto;
    border-bottom: 1px solid #B3282D; }
  /* line 505, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply h3 {
    font-size: 1.5rem; }
  /* line 508, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .subscribe-box {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.3); }
  /* line 514, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply #mc_embed_signup {
    margin-top: 20px; }
    /* line 516, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply #mc_embed_signup .mc-field-group {
      width: 50%; }
    /* line 519, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply #mc_embed_signup .mc-field-group,
    .apply #mc_embed_signup .clear {
      display: inline-block;
      vertical-align: top; }
    /* line 524, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply #mc_embed_signup input {
      width: 100%;
      display: inline-block;
      height: 40px;
      padding-left: 15px;
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0.6);
      font-family: "Source Sans Pro"; }
    /* line 534, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply #mc_embed_signup input.btn {
      background-color: white;
      margin-top: 0px !important;
      padding: 10px 25px;
      font-family: "Source Sans Pro";
      cursor: pointer;
      font-size: 1.2rem;
      color: black; }
      /* line 542, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .apply #mc_embed_signup input.btn:hover {
        background-color: #0A7096;
        color: white; }
    /* line 547, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply #mc_embed_signup div.mce_inline_error {
      background-color: transparent;
      color: black;
      text-align: left;
      font-family: "Source Sans Pro";
      font-weight: normal; }

/* line 559, /Users/AnhLe/Desktop/Vatican/css/style.scss */
#about hr {
  display: none; }

/* line 562, /Users/AnhLe/Desktop/Vatican/css/style.scss */
#about .about-canvas {
  background-image: url("../img/bg-about.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%; }
  /* line 563, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .about-canvas .row {
    max-width: 100%;
    padding: 2rem; }

/* line 575, /Users/AnhLe/Desktop/Vatican/css/style.scss */
#about .close {
  float: right; }
  /* line 577, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .close svg {
    width: 40px;
    height: 40px; }

/* line 582, /Users/AnhLe/Desktop/Vatican/css/style.scss */
#about .content {
  width: 90%;
  margin: auto;
  color: white; }
  /* line 586, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .content .about {
    padding-right: 80px; }
  /* line 589, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .content .team {
    padding-left: 80px; }
  /* line 592, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .content h5 {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-top: .5rem; }
  /* line 598, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .content a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; }
  /* line 603, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .content ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 0px; }
  /* line 608, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .content li {
    margin-bottom: 5px; }
    /* line 611, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #about .content li p.title {
      color: black;
      line-height: 1em; }
    /* line 616, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #about .content li span {
      font-weight: 600; }

/* line 621, /Users/AnhLe/Desktop/Vatican/css/style.scss */
#about .content.row {
  padding: 0; }

/* line 628, /Users/AnhLe/Desktop/Vatican/css/style.scss */
#faqs .faqs-canvas {
  background-image: url("../img/bg-faqs.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%; }
  /* line 629, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .row {
    max-width: 100%;
    padding: 2rem; }
  /* line 640, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .close {
    float: right; }
    /* line 642, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #faqs .faqs-canvas .close svg {
      width: 40px;
      height: 40px; }
  /* line 648, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .content ol {
    padding-left: 18px; }
  /* line 651, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .content li {
    margin-bottom: 20px; }
  /* line 654, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .content .one {
    padding-right: 80px; }
  /* line 657, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .content .two {
    padding-left: 80px; }
  /* line 661, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .content.row {
    padding: 0; }

/* line 667, /Users/AnhLe/Desktop/Vatican/css/style.scss */
#journey-map-mobile {
  margin: 0 auto;
  display: none; }

@media (max-width: 599px) {
  /* line 674, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .direction-mobile {
    display: block; }
  /* line 677, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .direction-desktop {
    display: none; }
  /* line 680, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  html {
    font-size: 12px; }
  /* line 683, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  h1 {
    font-size: 1.5rem;
    line-height: 1.2em; }
  /* line 687, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  h2 {
    font-size: 1.7rem; }
  /* line 690, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  h3 {
    font-size: 1.2rem; }
  /* line 693, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  h4 {
    font-size: 1.5rem; }
  /* line 696, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  h5 {
    line-height: 1.2em; }
  /* line 699, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .nav {
    padding-top: 1rem; }
    /* line 701, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .nav .logo img {
      max-width: 40px;
      max-height: 40px; }
    /* line 705, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .nav .menu {
      padding-top: 1rem; }
      /* line 707, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .nav .menu .btn {
        display: none; }
      /* line 710, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .nav .menu .apply-now {
        display: inline-block;
        color: #B3282D;
        font-weight: 600; }
      /* line 715, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .nav .menu .apply-now,
      .nav .menu .about,
      .nav .menu .faqs {
        font-size: 1rem;
        margin-right: 1.3rem; }
      /* line 721, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .nav .menu .social {
        margin-right: 0px; }
        /* line 722, /Users/AnhLe/Desktop/Vatican/css/style.scss */
        .nav .menu .social a {
          background-color: transparent;
          padding: 0 0 .7rem 0; }
          /* line 725, /Users/AnhLe/Desktop/Vatican/css/style.scss */
          .nav .menu .social a:hover {
            color: #B3282D;
            background-color: transparent; }
  /* line 734, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .home {
    background-position: 80%; }
    /* line 736, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .home .row {
      padding-top: 65%; }
  /* line 741, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas h1 {
    font-size: 2.4rem; }
  /* line 744, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas .stat-tab-question {
    width: 100%;
    padding: 16rem 3rem 0 3rem; }
  /* line 748, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas .stat-tab-facts {
    display: none; }
  /* line 751, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .focus-areas .stat-tabs-nav {
    left: 0;
    margin-left: 3rem; }
  /* line 757, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map .row {
    padding-top: 6rem;
    max-width: 95%; }
  /* line 761, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .map h3 {
    margin-bottom: .5rem; }
  /* line 766, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network .row {
    padding-top: 6rem;
    max-width: 95%; }
  /* line 770, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network .network-graphic {
    display: none; }
  /* line 773, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network h3 {
    margin-top: .2rem; }
  /* line 776, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network h5 {
    font-size: 1.3rem; }
  /* line 779, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .network .network-box {
    padding: .5rem; }
  /* line 784, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .row {
    padding-top: 5rem; }
  /* line 787, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .quote {
    display: none; }
  /* line 790, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply h5 {
    font-weight: 600;
    font-size: 1.1rem; }
  /* line 794, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .subscribe-box {
    width: 95%;
    padding: 1rem; }
    /* line 797, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply .subscribe-box h5 {
      font-size: 1.1rem; }
  /* line 801, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .to-faq,
  .apply .app-deadline {
    display: block; }
  /* line 805, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply .divider {
    display: none; }
  /* line 808, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  .apply #mc_embed_signup {
    margin-top: 10px; }
    /* line 810, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply #mc_embed_signup .mc-field-group {
      width: 100%; }
    /* line 813, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    .apply #mc_embed_signup .clear {
      width: 100%;
      display: block;
      margin-top: .5rem; }
      /* line 817, /Users/AnhLe/Desktop/Vatican/css/style.scss */
      .apply #mc_embed_signup .clear input {
        text-align: left;
        margin: 0;
        padding: 0 0 0 15px; }
  /* line 826, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about hr {
    display: block;
    border-bottom: 1px solid white;
    border-top: 0px;
    width: 100%;
    margin: 2rem 0; }
  /* line 833, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about h1 {
    font-size: 1.8rem;
    margin-bottom: 5px; }
  /* line 838, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .about-canvas .row {
    padding: 0; }
  /* line 841, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .about-canvas .close {
    margin-top: 15px; }
    /* line 843, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #about .about-canvas .close svg {
      width: 30px;
      height: 30px; }
  /* line 848, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #about .about-canvas .content {
    padding: 0px;
    max-height: 32rem;
    overflow: scroll; }
    /* line 852, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #about .about-canvas .content .about,
    #about .about-canvas .content .team {
      padding: 0px; }
  /* line 860, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs h1 {
    font-size: 1.8rem;
    margin-bottom: 5px; }
  /* line 865, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .row {
    padding: 0; }
  /* line 868, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .close {
    margin-top: 15px; }
    /* line 870, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #faqs .faqs-canvas .close svg {
      width: 30px;
      height: 30px; }
  /* line 875, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  #faqs .faqs-canvas .content {
    padding: 0px;
    max-height: 32rem;
    overflow: scroll; }
    /* line 879, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #faqs .faqs-canvas .content .one,
    #faqs .faqs-canvas .content .two {
      padding: 0px; }
    /* line 883, /Users/AnhLe/Desktop/Vatican/css/style.scss */
    #faqs .faqs-canvas .content ol {
      padding-left: 30px; } }

@media (min-width: 321px) and (max-width: 599px) {
  /* line 892, /Users/AnhLe/Desktop/Vatican/css/style.scss */
  html {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */