@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("foundation.min.css");
.reveal .slides > section {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.stat-tab {
  display: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.stat-tab.active {
  display: block;
}

.navigate-up,
.navigate-down {
  display: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

p {
  margin: 0px;
}

h1 {
  font-size: 3.5rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #B3282D;
  margin: 0;
  font-weight: 600;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.2em;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  color: #B3282D;
  margin: 0;
}

h5 {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: normal;
  margin: 0px;
}

.row {
  max-width: 85%;
  margin: auto;
}

a {
  cursor: pointer;
}

.btn {
  padding: 10px 25px;
  background-color: white;
  border-radius: 0;
  display: block;
  color: black;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s ease;
}

.btn span {
  margin-right: 10px;
}

.btn:hover {
  color: white;
}

.btn:hover span {
  color: white;
}

.btn.red span {
  color: #B3282D;
}

.btn.red:hover {
  background-color: #B3282D;
}

.btn.blue span {
  color: #00AEEF;
}

.btn.blue:hover {
  background-color: #00AEEF;
}

hr {
  width: 15%;
  border-color: #B3282D;
  margin-left: 0px;
}

.reveal .controls {
  display: none !important;
}

.nav {
  position: absolute;
  z-index: 50;
  width: 100%;
}

.nav .logo {
  display: inline-block;
  margin-left: 50px;
  margin-top: 30px;
}

.nav .logo img {
  max-width: 60px;
}

.nav .menu {
  margin-top: 40px;
  display: inline-block;
  float: right;
  margin-right: 50px;
}

.nav .menu .about,
.nav .menu .faqs {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
  text-decoration: none;
  margin-right: 30px;
  transition: color .3s ease;
}

.nav .menu .about:hover,
.nav .menu .faqs:hover {
  color: #B3282D;
}

.nav .menu .social {
  display: inline-block;
  margin-right: 30px;
}

.nav .menu .social a {
  background-color: white;
  padding: 8px 10px;
  border-radius: 50px;
  color: #353535;
  margin-right: 5px;
  transition: all .3s ease;
}

.nav .menu .social a .fa-facebook {
  padding: 0px 3px;
}

.nav .menu .social a .fa-instagram {
  padding: 0px 2px;
}

.nav .menu .social a:hover {
  background-color: #0A7096;
  color: white;
}

.nav .menu .btn {
  display: inline-block;
  background-color: #00AEEF;
  color: white;
  font-weight: 600;
}

.nav .menu .btn:hover {
  background-color: #0A7096;
}

.home .row {
  padding-top: 280px;
}

.home h2 {
  color: #353535;
}

.home .inspire {
  color: #B3282D;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 10px;
  margin-left: -10px;
  transition: all .3s ease;
}

.home .inspire span {
  font-weight: 600;
}

.home .inspire:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.home .btn {
  margin-top: 30px;
}

.focus-areas .row {
  width: 100%;
  height: 100%;
}

.focus-areas .stat-tabs-wrapper {
  height: 100%;
}

.focus-areas .stat-tab-question {
  width: 40%;
  height: 100%;
  float: right;
  padding: 350px 50px 0 50px;
  background-color: rgba(235, 227, 219, 0.95);
  background-image: url(../img/corner-icon.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 20%;
}

.focus-areas h1 {
  line-height: 3.5rem;
  margin-bottom: 20px;
}

.focus-areas h5 {
  font-size: 1.8rem;
  margin-top: 40px;
}

.focus-areas .btn {
  display: block;
  margin: 10px 0px;
}

.focus-areas .label {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #5A5A5A;
}

.focus-areas .stat-tabs-nav {
  position: absolute;
  top: 240px;
  left: 60%;
  margin-left: 50px;
  z-index: 1000000;
}

.focus-areas .stat-tabs-nav div {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease;
}

.focus-areas .stat-tabs-nav div a {
  display: block;
  height: 100%;
  width: 100%;
}

.focus-areas .stat-tabs-nav div.active {
  background-color: white;
  border: 3px solid #B3282D;
}

.focus-areas #energy {
  background-image: url(../img/icon-energy.png);
}

.focus-areas #food {
  background-image: url(../img/icon-food.png);
}

.focus-areas #water {
  background-image: url(../img/icon-water.png);
}

.focus-areas #city {
  background-image: url(../img/icon-city.png);
}

.focus-areas #employment {
  background-image: url(../img/icon-employment.png);
}

.focus-areas #conservation {
  background-image: url(../img/icon-conservation.png);
}

.focus-areas #finance {
  background-image: url(../img/icon-finance.png);
}

.focus-areas .action {
  margin-top: 30px;
}

.focus-areas .stat-tab-facts {
  position: absolute;
  top: 40%;
  width: 60%;
}

.focus-areas .stat-tab-facts p {
  text-align: center;
  margin: auto;
  font-size: 2rem;
  font-family: "Georgia", serif;
  font-weight: normal;
  line-height: 1.3em;
  color: white;
}

.focus-areas .stat-tab-facts p span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
}

.focus-areas #stat-tab-energy {
  background-image: url(../img/bg-energy.jpg);
}

.focus-areas #stat-tab-food {
  background-image: url(../img/bg-food.jpg);
}

.focus-areas #stat-tab-water {
  background-image: url(../img/bg-water.jpg);
}

.focus-areas #stat-tab-city {
  background-image: url(../img/bg-city.jpg);
}

.focus-areas #stat-tab-employment {
  background-image: url(../img/bg-employment.jpg);
}

.focus-areas #stat-tab-conservation {
  background-image: url(../img/bg-conservation.jpg);
}

.focus-areas #stat-tab-finance {
  background-image: url(../img/bg-finance.jpg);
}

.map {
  background-image: url(../img/bg-map.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.map .row {
  padding-top: 130px;
}

.map h5 {
  font-size: 1.4em;
  line-height: 1.5em;
}

.map #journey-map text {
  color: #353535;
  font-weight: 600 !important;
}

.map .process-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
}

.map .process-box div {
  display: none;
}

.map .process-box div.active {
  display: block;
}

.map .process-box p span {
  color: #B3282D;
  font-weight: 600;
}

.map .process-box .deadline {
  margin-top: 10px;
}

.map h4 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1rem;
}

.map p {
  font-size: 20px;
}

.map .btn {
  margin-top: 20px;
}

.map h3 {
  margin-top: 20px;
}

.network {
  background-image: url(../img/bg-network.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.network .row {
  padding-top: 130px;
}

.network h5 {
  font-size: 1.4em;
  line-height: 1.5em;
}

.network h4 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1rem;
}

.network h6 {
  font-size: 1.5em;
  color: #B3282D;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  line-height: 1em;
}

.network p {
  font-size: 20px;
  margin-bottom: 20px;
}

.network .btn {
  margin-top: 20px;
}

.network .network-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  margin-top: 40px;
}

.network .network-graphic {
  padding-top: 180px;
  display: block;
  width: 80%;
  margin: auto;
}

.apply {
  background-image: url(../img/bg-apply.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.apply .row {
  text-align: center;
  padding-top: 250px;
}

.apply h2 {
  color: white;
  margin: 0 0 30px 0;
}

.apply p {
  font-size: 1.5rem;
}

.apply p span {
  color: white;
  font-size: 1.3rem;
}

.apply a {
  color: white;
}

.apply a:hover {
  color: #B3282D;
}

.apply .btn {
  display: block;
  margin: 40px auto 20px auto;
  padding: 15px 25px;
  color: #B3282D;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.apply .btn:hover {
  color: white;
}

.apply hr {
  width: 40%;
  margin: 30px auto;
  border: 1px solid #5A5A5A;
}

.apply h5 {
  color: white;
}

.apply h4 {
  margin-top: 5px;
  color: black;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
}

.apply #mc_embed_signup {
  margin-top: 20px;
}

.apply #mc_embed_signup .mc-field-group {
  width: 50%;
}

.apply #mc_embed_signup .mc-field-group,
.apply #mc_embed_signup .clear {
  display: inline-block;
  vertical-align: top;
}

.apply #mc_embed_signup input {
  width: 100%;
  display: inline-block;
  height: 50px;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Source Sans Pro";
}

.apply #mc_embed_signup input.btn {
  background-color: white;
  padding: 10px 25px;
  font-family: "Source Sans Pro";
  cursor: pointer;
}

.apply #mc_embed_signup input.btn:hover {
  background-color: #0A7096;
  color: white;
}

.apply #mc_embed_signup div.mce_inline_error {
  background-color: transparent;
  color: black;
  text-align: left;
  font-family: "Source Sans Pro";
  font-weight: normal;
}

#about .about-canvas {
  background-image: url("../img/bg-about.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#about .about-canvas .row {
  max-width: 100%;
}

#about .close {
  float: right;
  margin-right: 60px;
  margin-top: 60px;
}

#about .content {
  width: 90%;
  margin: auto;
  color: white;
}

#about .content .about {
  padding-right: 80px;
}

#about .content .about p {
  font-size: 1.4rem;
}

#about .content .about p span {
  font-weight: 600;
}

#about .content .team {
  padding-left: 80px;
}

#about .content h4 {
  margin-top: 15px;
  color: black;
}

#about .content a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

#about .content ul {
  margin: 0px;
  padding-left: 18px;
}

#about .content li {
  margin-bottom: 5px;
}

#about .content li p {
  font-size: 1.4rem;
}

#about .content li p.title {
  color: black;
  font-size: 1.2rem;
  line-height: 1em;
}

#about .content li span {
  font-weight: 600;
}

#faqs .faqs-canvas {
  background-image: url("../img/bg-faqs.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#faqs .faqs-canvas .row {
  max-width: 100%;
}

#faqs .faqs-canvas .close {
  float: right;
  margin-right: 60px;
  margin-top: 60px;
}

#faqs .faqs-canvas .content {
  width: 90%;
  margin: auto;
}

#faqs .faqs-canvas .content p {
  font-size: 1.3rem;
}

#faqs .faqs-canvas .content p span {
  font-weight: 600;
}

#faqs .faqs-canvas .content ol {
  padding-left: 18px;
}

#faqs .faqs-canvas .content li {
  margin-bottom: 20px;
}

#faqs .faqs-canvas .content .one {
  padding-right: 80px;
}

#faqs .faqs-canvas .content .two {
  padding-left: 80px;
}

#journey-map {
  width: 1024px;
  height: 500px;
  margin: 0 auto;
  display: block;
}

#journey-map-mobile {
  margin: 0 auto;
  display: none;
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .nav .logo {
    margin-left: 20px;
    margin-top: 20px;
  }
  .nav .logo img {
    max-width: 30px;
  }
  .nav .btn {
    padding: 5px 15px;
    clear: both;
    float: right;
  }
  .nav .btn {
    font-size: 14px;
  }
  .nav .menu .social a {
    font-size: 14px;
    padding: 4px 5px;
  }
  .nav .menu {
    margin-top: 20px;
    margin-right: 20px;
  }
  .nav .menu .social {
    margin-right: 10px;
  }
  .nav .menu .about,
  .nav .menu .faqs {
    margin-right: 5px;
    font-size: 14px;
  }
  .home .row {
    padding-top: 70px;
  }
  .home h2 {
    font-size: 30px;
  }
  .focus-areas .stat-tab-facts {
    display: none;
  }
  .focus-areas .stat-tab-question {
    width: 100%;
    background-color: rgba(235, 227, 219, 0.6);
    padding: 140px 20px 0 20px;
  }
  .focus-areas .stat-tabs-nav {
    top: 90px;
    left: 0;
    margin-left: 20px;
  }
  .focus-areas .stat-tabs-nav div {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  #journey-map {
    display: none;
  }
  #journey-map-mobile {
    display: block;
    width: 300px;
    height: 400px;
  }
  .map h5 {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .nav .menu {
    width: 260px;
  }
  .nav .btn {
    margin-top: 5px;
    clear: both;
  }
  .nav .menu .social {
    float: right;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .nav .menu {
    width: 230px;
  }
}

/*# sourceMappingURL=style.css.map */